<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->

    <link href="<?php echo base_url();?>application/views/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="<?php echo base_url();?>application/views/css/base.css" />
    <link rel="stylesheet" type="text/css" href="<?php echo base_url();?>application/views/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_y4681jso24l8r529.css"/>
    <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_rn9da7r65o7833di.css"/>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="<?php echo base_url();?>application/views/js/html5shiv.min.js"></script>
    <script src="<?php echo base_url();?>application/views/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>

</body>
<script src="<?php echo base_url();?>application/views/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="<?php echo base_url();?>application/views/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
<script src="<?php echo base_url();?>application/views/js/fontSize.js" type="text/javascript" charset="utf-8"></script>
<script src="<?php echo base_url();?>application/views/js/show_exchange.js" type="text/javascript" charset="utf-8"></script>
</html>