<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<?php
        if(!isset($_SESSION)){
            seeeion_start();
        }
        if(!isset($_SESSION['manager_phone'])){
            redirect(site_url('manager_login'));
        }
        else{
 ?>
<div class="row">
    <div class="col-sm-12 col-xs-12">
        <span class="add-header "><span class="glyphicon glyphicon-user"></span>添加住房信息</span>
    </div>
</div>
<hr class="add_hr">
<input type="hidden" class="js_add" value="<?php echo $message;?>">
<form class="form-horizontal" role="form" action="add_room" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="room_id" class="col-sm-2 col-xs-2 control-label">房号<span class="register-span">*</span></label>
        <div class="col-sm-5 col-xs-5">
            <input type="text" class="form-control" name="room_id" id="room_id" placeholder="请输入房间号" value="<?php echo set_value('room_id'); ?>">
        </div>
        <div class="col-sm-5 col-xs-5">
            <span class="register-span register-js-phone"><?php echo form_error('room_id'); ?></span>
        </div>
    </div>
    <div class="form-group">
        <label for="house_price" class="col-sm-2 col-xs-2 control-label">房间价格<span class="register-span">*</span></label>
        <div class="col-sm-5 col-xs-5">
            <input type="text" class="form-control" name="house_price" id="house_price" placeholder="请输入房间价格" value="<?php echo set_value('house_price'); ?>">
        </div>
        <div class="col-sm-5 col-xs-5">
            <span  class="register-span register-js-name"><?php echo form_error('house_price'); ?></span>
        </div>
    </div>
    <div class="form-group">
        <label for="room_type" class="col-sm-2 col-xs-2 control-label">房间类型<span class="register-span">*</span></label>
        <div class="col-sm-5 col-xs-5">
            <input type="text" class="form-control" name="room_type" id="room_type" placeholder="请输入房间类型" value="<?php echo set_value('room_type'); ?>">
        </div>
        <div class="col-sm-5 col-xs-5">
            <span  class="register-span register-js-sex"><?php echo form_error('room_type'); ?></span>
        </div>
    </div>
    <div class="form-group">
        <label for="floor" class="col-sm-2 col-xs-2 control-label">楼层<span class="register-span">*</span></label>
        <div class="col-sm-5 col-xs-5">
            <input type="text" class="form-control" name="floor" id="floor" placeholder="请输入楼层" value="<?php echo set_value('floor'); ?>">
        </div>
        <div class="col-sm-5 col-xs-5">
            <span  class="register-span register-js-ID_card"><?php echo form_error('floor'); ?></span>
        </div>
    </div>
    <div class="form-group">
        <label for="bed_type" class="col-sm-2 col-xs-2 control-label">床型<span class="register-span">*</span></label>
        <div class="col-sm-5 col-xs-5">
            <input type="text" class="form-control" name="bed_type" id="bed_type" placeholder="请输入床型" value="<?php echo set_value('bed_type'); ?>">
        </div>
        <div class="col-sm-5 col-xs-5">
            <span  class="register-span register-js-password1"><?php echo form_error('bed_type'); ?></span>
        </div>
    </div>
    <div class="form-group">
        <label for="number" class="col-sm-2 col-xs-2 control-label">居住人数<span class="register-span">*</span></label>
        <div class="col-sm-5 col-xs-5">
            <input type="text" class="form-control" name="number" id="number" placeholder="请输入居住人数" value="<?php echo set_value('number'); ?>">
        </div>
        <div class="col-sm-5 col-xs-5">
            <span  class="register-span register-js-passeord2"><?php echo form_error('number'); ?></span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 col-xs-2 control-label">是否可以加床<span class="register-span">*</span></label>
        <div  class="col-sm-5 col-xs-5 manager_set_top">
            <input type="radio" name="add_bed" value="是" >是
            <input type="radio" name="add_bed"  value="否" checked>否
        </div>
    </div>
    <div class="form-group">
        <label for="room_image" class="col-sm-2 col-xs-2 control-label">上传照片<span class="register-span">*</span></label>
        <div class="col-sm-5 col-xs-5  manager_set_top">
            <input type="file" name="room_image" id="room_image"  value="<?php echo set_value('room_image'); ?>">
        </div>
        <div class="col-sm-5 col-xs-5">
            <span  class="register-span register-js-passeord2"><?php echo form_error('room_image'); ?></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-6 col-xs-offset-6 col-sm-1 col-xs-1">
            <button type="submit" class="btn btn-danger">添加</button>
        </div>
    </div>
</form>
</body>
<?php
      }
?>
</html>