<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改密码</title>
</head>
<body style="background-color: #eeeeee">
    <div class="container resetPassword" style="background-color:#fff;">
        <span class="resetPassword_header">重置密码</span>
        <hr>
        <div class="row col-sm-offset-4 col-xs-offset-1 resetPassword-content">
            <form class="form-horizontal " role="form" action="reset_password" method="post">
                <div class="form-group">
                    <label for="origin_password" class="col-sm-2 col-xs-3 control-label">原始密码<span class="register-span">*</span></label>
                    <div class="col-sm-3 col-xs-9">
                        <input type="password" class="form-control" name="origin_password" id="origin_password" placeholder="请输入原始密码" value="<?php echo set_value('origin_password'); ?>">
                    </div>
                    <div class="col-sm-5 col-xs-12">
                        <span class="register-span register-js-phone"><?php echo form_error('origin_password'); ?></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password1" class="col-sm-2 col-xs-3 control-label">密码<span class="register-span">*</span></label>
                    <div class="col-sm-3 col-xs-9">
                        <input type="password" class="form-control" name="password1" id="password1" placeholder="请输入密码" value="<?php echo set_value('password1'); ?>">
                    </div>
                    <div class="col-sm-5 col-xs-12">
                        <span  class="register-span register-js-password1"><?php echo form_error('password1'); ?></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password2" class="col-sm-2 col-xs-3 control-label">确认密码<span class="register-span">*</span></label>
                    <div class="col-sm-3 col-xs-9">
                        <input type="password" class="form-control" name="password2" id="password2" placeholder="请输入确认密码" value="<?php echo set_value('password2'); ?>">
                    </div>
                    <div class="col-sm-5 col-xs-12">
                        <span  class="register-span register-js-passeord2"><?php echo form_error('password2'); ?></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-xs-offset-7 col-sm-3 col-xs-5">
                        <button type="submit" class="btn btn-danger col-sm-12 col-xs-12">确认修改</button>
                    </div>
                </div>
            </form>
        </div>
        <hr>
    </div>
</body>
</html>